<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.UniqueId
                </td>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </tbody>
</table>