@model Subject
@{
    ViewData["Title"] = "Editar Asignatura";
}
<h1>@ViewData["Title"]</h1>
<div asp-validation-summary="All"></div>
<form method="POST">
    <div>
        <label asp-for="Name"></label>
        <input asp-for = "Name" value="@Model.Name"/>
    </div>
    <button type="submit">
        Editar
    </button>
</form>

<p><i>@ViewBag.Date</i></p>