@model List<Subject>
@{
    ViewData["Title"] = "Información Asignatura";
}
<h1>@ViewData["Title"]</h1>
<strong>Desde la vista parcial</strong>
<partial name="_ListObjectSchool"/>

<p><i>@ViewBag.Date</i></p>