@model List<Student>
@{
    ViewData["Title"] = "Información Alumno";
}
<h1>@ViewData["Title"]</h1>
<strong>Desde la vista parcial</strong>


<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model)
        {
            <tr>
                <td>
                    @student.Name
                </td>
                <td>
                    @student.UniqueId
                </td>
            </tr>
        }
    </tbody>
</table>
<p><i>@ViewBag.Date</i></p>