@model IEnumerable<Student>
@{
    ViewData["Title"] = "Información Alumno";
}
<h1>@ViewData["Title"]</h1>
<strong>Desde la vista parcial</strong>


<partial name="_ListObjectSchool" />
<p><i>@ViewBag.Date</i></p>