@model School
@{
    ViewData["Title"] = "Información Escuela";
}
<h1>Escuela @ViewData["Title"]</h1>
<h2>Name: @Model.Name </h2>
<p><strong>Foundation Year: @Model.FoundationYear </strong></p>

<p><i>@ViewBag.CosaDinamica</i></p>